.container{
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    white-space: nowrap;
}


.toggle{
    width:15%;
}

.logoContainer {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 50%;
  }
  
  /* @media only screen and (max-width: 767px) {
    .logoContainer {
      width: 100%;
    }
  } */


  .contactButton{
    background-color: black;
    color: white;
  }

  .loginButton{
    display: flex;
    justify-content: end;
  }